.hometabs {
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0;
    right: 0;
    color:black;
    overflow-x: hidden;
}

.homeinfo {
        width: 70%;
        padding-top: 10px;
        text-align: center
}

button {
        width: 100%;
        height: 20%;
        border: none;
}
